 <br>
 <br>
 <div class="container">
    <div class="row">
      <div class="col s7">
        <div class="card">
          <div class="card-content">
            <h5>Folios</h5>
            <form #foliosForm="ngForm" (ngSubmit)="addFolio(foliosForm)">
              <br>
              <input type="hidden" name="number" #number="ngModel" [(ngModel)]="folioService.selectedFolio.number">
              <h6>Ingresa el estado del folio</h6>
              <div class="row">
                <div class="input-field col-s12">
                  <input type="text" name="status" #name="ngModel" [(ngModel)]="folioService.selectedFolio.status" placeholder="Estado del folio">
                </div>
                <div class="card-action">
                  <div class="input-field col-s12">
                    <button class="btn right" style="margin-left: 2px;" (click)="resetForm(foliosForm)">Limpiar</button>
                    <button class="btn right">Guardar</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col s7">
        <table class="striped highlight black-text">
          <thead>
            <th>Número</th>
            <th>Estado</th>
          </thead>
          <tbody>
            <tr *ngFor="let folio of folioService.Folios">
              <td>{{ folio.number }}</td>
              <td>{{ folio.status }}</td>
              <td>
                <a (click)="editFolio(folio)">
                  <i class="material-icons">edit</i>
                </a>
                <a (click)="deleteFolio(folio.number, foliosForm)">
                  <i class="material-icons">delete</i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div> 
 