

<div class="wrapper ">

    <app-sidebar></app-sidebar> 
    <div class="main-panel">
        
        <app-header></app-header>

        <div class="content">
            <div class="container-fluid">

              <router-outlet></router-outlet>
                
            </div>
            
          </div>
          
    </div>
</div>

