<div class="sidebar" data-color="azure" data-background-color="white">
    <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->

    <div class="logo">
      <a href="/" class="simple-text logo-mini">
        Portal de Transparencia
      </a>
      <a href="/" class="simple-text logo-normal">
        Gobierno del Estado
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item active  ">
          <a class="nav-link" href="#0">
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
          </a>
        </li>
        <!-- your sidebar here -->
      </ul>
    </div>
</div>